<template>

    <div class="col-md-12">
        <h1 class="text-center color-blue heading">Sales Offer</h1>
        <form class="form-horizontal">
            <fieldset>

                <div class="form-group form-group-input">
                    <label class="col-md-2 control-label" for="customer-name">Customer Name</label>
                    <div class="col-md-4">
                        <input id="customer-name" :class="{ 'is-invalid': form.errors.has('customerName') }" v-model="form.customerName" type="text" placeholder="" class="form-control input-md">
                        <has-error :form="form" field="customerName"></has-error>
                    </div>
                </div>

                <!--<div class="form-group form-group-input">
                    <label class="col-md-2 control-label" for="welcome-note">Welcome Note</label>
                    <div class="col-md-6">
                        <textarea class="form-control" :class="{ 'is-invalid': form.errors.has('welcomeNote') }" v-model="form.welcomeNote" id="welcome-note" name="welcome-note" rows="5"></textarea>
                        <has-error :form="form" field="welcomeNote"></has-error>
                    </div>
                </div>-->

                <div>
                    <!-- Projects -->
                    <div class="table-responsive form-group">
                        <table class="table form-table">
                            <thead class="bg-blue color-white">
                            <tr>
                                <th>Project / Location</th>
                                <th>Plot #</th>
                                <th>Plot Size (SQ. FT)</th>
                                <th>Built Up Area (SQ. FT)</th>
                                <th>Price/(SQ. FT) (AED)</th>
                                <th>Total Price (AED)</th>
                                <th colspan="2">Plot Use</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(project,index) in form.projects">
                                <td>
                                    <input type="text" v-model="project.projectLocation" :class="{ 'is-invalid': form.errors.has('projects.'+index+'.projectLocation') }" class="form-control">
                                    <has-error :form="form" :field="'projects.'+index+'.projectLocation'"></has-error>
                                </td>

                                <td>
                                    <input type="text" v-model="project.plotNo" :class="{ 'is-invalid': form.errors.has('projects.'+index+'.plotNo') }" class="form-control">
                                    <has-error :form="form" :field="'projects.'+index+'.plotNo'"></has-error>
                                </td>
                                <td>
                                    <input type="number" @keyup="project.totalPrice = project.pricePerFit*project.plotSize" v-model="project.plotSize" :class="{ 'is-invalid': form.errors.has('projects.'+index+'.plotSize') }" class="form-control">
                                    <has-error :form="form" :field="'projects.'+index+'.plotSize'"></has-error>
                                </td>
                                <td>
                                    <input type="text" v-model="project.buildArea" :class="{ 'is-invalid': form.errors.has('projects.'+index+'.buildArea') }" class="form-control">
                                    <has-error :form="form" :field="'projects.'+index+'.buildArea'"></has-error>
                                </td>
                                <td>
                                    <input type="number" @keyup="project.totalPrice = project.pricePerFit*project.plotSize" v-model="project.pricePerFit" :class="{ 'is-invalid': form.errors.has('projects.'+index+'.pricePerFit') }" class="form-control">
                                    <has-error :form="form" :field="'projects.'+index+'.pricePerFit'"></has-error>
                                </td>
                                <td>
                                    <input type="number" readonly v-model="project.totalPrice" :class="{ 'is-invalid': form.errors.has('projects.'+index+'.totalPrice') }" class="form-control">
                                    <has-error :form="form" :field="'projects.'+index+'.totalPrice'"></has-error>
                                </td>
                                <td>
                                    <input type="text" v-model="project.plotUse" :class="{ 'is-invalid': form.errors.has('projects.'+index+'.plotUse') }" class="form-control">
                                    <has-error :form="form" :field="'projects.'+index+'.plotUse'"></has-error>
                                </td>
                                <td><a href="#" @click.prevent="removeProject(index)" class="btn btn-theme">X</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <p class="color-blue form-group"><a href="#" @click.prevent="addProject" :disabled="form.projects.length === 5" class="btn btn-theme btn-add">+</a> Click here to add more Projects (Max: upto 5)</p>

                    <hr class="section-divider" />
                </div>

                <div v-for="(project,projectIndex) in form.projects" v-bind:key="projectIndex">

                    <div class="form-group">
                        <h3 class="section-header">Payment Plan for {{ project.projectLocation }}</h3>

                        <div class="form-group-select">
                            <label class="col-md-2 control-label" for="plan-year">Enter No. of Years:</label>
                            <div class="col-md-4">
                                <select id="plan-year" name="plan-year" class="form-control" v-model="project.paymentPlan.noYears" :class="{ 'is-invalid': form.errors.has('projects.'+projectIndex+'.noYears') }">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                        <has-error :form="form" :field="'projects.'+projectIndex+'.noYears'"></has-error>
                    </div>

                    <div class="table-responsive form-group">
                        <table class="table form-table">
                            <thead class="bg-blue color-white">
                            <tr>
                                <th>#</th>
                                <th>Milestone</th>
                                <th>%</th>
                                <th>Date</th>
                                <th colspan="2">Amount (AED)</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(plan,planIndex) in project.paymentPlan.milestones" v-bind:key="planIndex">
                                <td>
                                    <input type="text" readonly :value="planIndex+1" class="form-control">
                                </td>
                                <td>
                                    <input type="text" v-model="plan.milestone" class="form-control" :class="{ 'is-invalid': form.errors.has('projects.'+projectIndex+'.paymentPlan.milestones.'+planIndex+'.milestone') }">
                                    <has-error :form="form" :field="'projects.'+projectIndex+'.paymentPlan.milestones.'+planIndex+'.milestone'"></has-error>
                                </td>
                                <td>
                                    <input type="number" v-model="plan.percentage" class="form-control" :class="{ 'is-invalid': form.errors.has('projects.'+projectIndex+'.paymentPlan.milestones.'+planIndex+'.percentage') }">
                                    <has-error :form="form" :field="'projects.'+projectIndex+'.paymentPlan.milestones.'+planIndex+'.percentage'"></has-error>
                                </td>
                                <td>
                                    <input type="date" v-model="plan.date" class="form-control" :class="{ 'is-invalid': form.errors.has('projects.'+projectIndex+'.paymentPlan.milestones.'+planIndex+'.date') }">
                                    <has-error :form="form" :field="'projects.'+projectIndex+'.paymentPlan.milestones.'+planIndex+'.date'"></has-error>
                                </td>
                                <td>
                                    <input type="text" readonly :value="calculatePlanPrice(projectIndex, planIndex)" class="form-control">
                                </td>
                                <td>
                                    <a href="#" @click.prevent="removePaymentPlan(projectIndex, planIndex)" class="btn btn-theme">X</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <p class="color-blue form-group">
                        <a href="#" :disabled="project.paymentPlan.milestones.length === 60" @click.prevent="addPaymentPlan(projectIndex)" class="btn btn-theme btn-add">+</a> Click here to add more Payment plan (Max: upto 60)
                    </p>

                    <div class="form-group">
                        <h4 class="color-blue">Include Following Note</h4>

                        <div class="row">
                            <div class="col-md-6">
                                <label class="checkbox-inline" v-for="(note, noteIndex) in notes" :for="`note${projectIndex}${noteIndex}`" v-bind:key="noteIndex">
                                    <input type="checkbox" :id="`note${projectIndex}${noteIndex}`" v-model="project.notes" :value="note" :class="{ 'is-invalid': form.errors.has('projects.'+projectIndex+'.notes') }">
                                    {{ note.title }}
                                </label>
                            </div>
                        </div>
                        <has-error :form="form" :field="'projects.'+projectIndex+'.notes'"></has-error>
                    </div>

                    <hr class="section-divider"/>

                </div>

                <div class="form-group footer-form-group">
                    <label class="col-md-3 control-label" for="broker-name">Broker Name</label>
                    <div class="col-md-4">
                        <input id="broker-name"  v-model="form.brokerName" type="text" placeholder="" class="form-control input-md" :class="{ 'is-invalid': form.errors.has('brokerName') }">
                        <has-error :form="form" field="brokerName"></has-error>
                    </div>
                </div>

                <div class="form-group footer-form-group">
                    <label class="col-md-3 control-label" for="broker-designation">Broker Designation</label>
                    <div class="col-md-4">
                        <input id="broker-designation" v-model="form.brokerDesignation" type="text" placeholder="" class="form-control input-md" :class="{ 'is-invalid': form.errors.has('brokerDesignation') }">
                        <has-error :form="form" field="brokerDesignation"></has-error>
                    </div>
                </div>

                <div class="form-group footer-form-group">
                    <label class="col-md-3 control-label" for="brn">Broker Registration Number (BRN)</label>
                    <div class="col-md-4">
                        <input id="brn"  v-model="form.brokerRegistrationNumber" type="text" placeholder="" class="form-control input-md" :class="{ 'is-invalid': form.errors.has('brokerRegistrationNumber') }">
                        <has-error :form="form" field="brokerRegistrationNumber"></has-error>
                    </div>
                </div>

                <div class="col-md-12 text-center">
                    <a href="#" @click.prevent="generateOffer" class="btn btn-theme btn-sumbit">Generate Sales Offer</a>
                </div>

                <div class="col-md-12 text-center" v-if="form.successful">
                    <a :href="`${baseUrl}/sale-offers/pdf`" class="btn btn-theme btn-sumbit">Download PDF</a>
                    <a :href="`${baseUrl}/sale-offers/docs`" class="btn btn-theme btn-sumbit">Download Word</a>
                    <a :href="`${baseUrl}/sale-offers/excel`" class="btn btn-theme btn-sumbit">Download Excel</a>
                </div>

            </fieldset>
        </form>

    </div>

</template>

<script>

    import { Form, HasError, AlertError } from 'vform'
    let baseUrl = require('../helpers.js');
    export default {
        data(){
            return {
                notes: [],
                baseUrl: window.baseUrl,
                form: new Form({
                    customerName:'',
                    welcomeNote: 'Thank you for showing your interest in buying the Plot.\n' +
                    'Please find below details of property options customized for you.\n',
                    brokerName: '',
                    brokerDesignation: '',
                    brokerRegistrationNumber: '',
                    projects: [
                        {
                            projectLocation: '',
                            plotNo: '',
                            plotSize: '',
                            buildArea: '',
                            pricePerFit: '',
                            totalPrice: '',
                            plotUse:'',
                            paymentPlan: {
                                noYears: 1,
                                milestones: [
                                    {
                                        milestone: '',
                                        percentage: '',
                                        date: '',
                                        amount: 0
                                    },
                                ]
                            },
                            notes: []
                        }
                    ]
                })
            }
        },
        mounted() {
            axios.get(baseUrl('/notes')).then(({data}) => {
                this.notes = data;
            })
        },
        methods: {
            addProject(){
                if(this.form.projects.length === 5)
                    return;

                this.form.projects.push({
                    projectLocation: '',
                    plotNo: '',
                    plotSize: '',
                    buildArea: '',
                    pricePerFit: '',
                    totalPrice: '',
                    plotUse:'',
                    paymentPlan: {
                        noYears: 1,
                        milestones: [
                            {
                                milestone: '',
                                percentage: '',
                                date: '',
                                amount: 0
                            },
                        ]
                    },
                    notes: []
                });
            },
            removeProject(index){
                this.form.projects.splice(index, 1);
            },
            removePaymentPlan(projectIndex, planIndex){
                this.form.projects[projectIndex].paymentPlan.milestones.splice(planIndex, 1);
            },
            addPaymentPlan(projectIndex){
                if(this.form.projects[projectIndex].paymentPlan.milestones.length === 60)
                    return;
                this.form.projects[projectIndex].paymentPlan.milestones.push({
                    milestone: '',
                    percentage: '',
                    date: '',
                    amount: 0
                });
            },
            generateOffer(){
                this.form.post(baseUrl('/sale-offers'), this.form)
                    .then((data) => {
                        console.log(data);
                    });
            },
            calculatePlanPrice(projectIndex, planIndex){
                return ((this.form.projects[projectIndex].totalPrice / 100) * this.form.projects[projectIndex].paymentPlan.milestones[planIndex].percentage).toFixed(0);
            },
            calculatedTotalPrice(projectIndex){
                return ((this.form.projects[projectIndex].plotSize) * this.form.projects[projectIndex].pricePerFit).toFixed(0);
            }
        }
    }
</script>

<style>
    .help-block.invalid-feedback {
        color: #f00;
        font-size: 12px;
        font-weight: 100;
        font-family: monospace;
    }

    input.is-invalid, textarea.is-invalid{
        border-color: #f00;
    }
</style>
